node_modules

/server/index.js*
/server/_assets/*.css
/public/build
preferences.arc
sam.json
sam.yaml
.env

/cypress/screenshots
/cypress/videos

/app/styles/tailwind.css

/docker/*

coverage
/test-results/
/playwright-report/
/playwright/.cache/
