node_modules

/server/index.js*
/server/_assets/*.css
/public/build
preferences.arc
sam.json
sam.yaml
.env


/docker/*

/public/build
/server-build
.env

/test-results/
/playwright-report/
/playwright/.cache/
/tests/fixtures/email/
/coverage

/other/cache.db

# Easy way to create temporary files/folders that won't accidentally be added to git
*.local.*

